about.html
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <title></title>
  <meta name="description">
  <meta content="width=device-width" name="viewport">
  <link href="application.css" rel="stylesheet">
  <script>
    //var customPath = '';
  </script>
  <script src="js/fonts.js"></script>
  <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script>window.html5 || document.write('<script src="js/vendor/html5shiv.js"><\/script>')</script>
  <![endif]-->
</head>
<body><header>
  <div class='wrap'>
    <a class='logo b_logo' href=''></a>
    <ul class='b_menu'>
      <li class='active'>
        <a href=''>Компания</a>
      </li>
      <li>
        <a href=''>Продукты</a>
      </li>
      <li>
        <a href=''>Сотрудничество</a>
      </li>
      <li>
        <a href=''>Контакты</a>
      </li>
    </ul>
    <div class='clear'></div>
  </div>
</header>
<section class='subpage'>
  <div class='wrap'>
    <div class='b_box'>
      <aside>
        <ul class='b_menu_aside'>
          <li class='active'>
            <a href=''>О компании</a>
          </li>
          <li>
            <a href=''>Новости</a>
          </li>
          <li>
            <a href=''>Сотрудничество</a>
          </li>
          <li>
            <a href=''>Вакансии</a>
          </li>
        </ul>
      </aside>
      <article class='b_text'>
        <h2 class='blue'>О компании</h2>
        <p>Компания «Максет Лайн» является разработчиком программного и аппаратного обеспечения телекоммуникационных систем.</p>
        <p>Ключевая компетенция компании – разработка и внедрение инновационных решений в области оптических и беспроводных сетей передачи данных.</p>
        <p>Сотрудники компании – это высококвалифицированные инженеры-технологи, программисты, научные сотрудники, которые обладают многолетним уникальным опытом разработки системных решений, а также опытные менеджеры по коммерциализации телекоммуникационного оборудования и услуг с хорошим знанием отрасли телекома, что обуславливает высокий научный и коммерческий потенциал нашей компании.</p>
        <p>Цель компании – создание IT-решений, оптимально отвечающих технологическим потребностям наших клиентов и направленных на повышение эффективности их бизнеса для достижения отраслевого стратегического лидерства</p><div class='b_logos horizontal'><a href=''><img alt='' src='i/logo4.png'></a><a href=''><img alt='' src='i/logo5.png'></a><a href=''><img alt='' src='i/logo6.png'></a></div></article>
      <div class='clear'></div>
    </div>
  </div>
</section>
<footer>
  <div class='wrap'>
    <p>ООО «Максет Лайн»</p>
    <p>
      143025, Московская область,  Технопарк
      <br>«Сколково»,  ул. Новая, д.100</br>
    </p>
  </div>
</footer>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
  <script src="js/plugins.js"></script>
  <script src="js/main.js"></script>
  <script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
</body>
</html>

about.haml
/ @include 'kit/head.kit'
/ @include 'kit/header.kit'

%section.subpage
  .wrap
    .b_box
      %aside
        %ul.b_menu_aside
          %li.active
            %a{:href => ""} О компании
          %li
            %a{:href => ""} Новости
          %li
            %a{:href => ""} Сотрудничество
          %li
            %a{:href => ""} Вакансии
      %article.b_text
        %h2.blue О компании
        %p Компания «Максет Лайн» является разработчиком программного и аппаратного обеспечения телекоммуникационных систем.
        %p Ключевая компетенция компании – разработка и внедрение инновационных решений в области оптических и беспроводных сетей передачи данных.
        %p Сотрудники компании – это высококвалифицированные инженеры-технологи, программисты, научные сотрудники, которые обладают многолетним уникальным опытом разработки системных решений, а также опытные менеджеры по коммерциализации телекоммуникационного оборудования и услуг с хорошим знанием отрасли телекома, что обуславливает высокий научный и коммерческий потенциал нашей компании.
        %p Цель компании – создание IT-решений, оптимально отвечающих технологическим потребностям наших клиентов и направленных на повышение эффективности их бизнеса для достижения отраслевого стратегического лидерства
        .b_logos.horizontal>
          %a{:href => ""}>
            %img{:src => "i/logo4.png", :alt => ""}>
          %a{:href => ""}>
            %img{:src => "i/logo5.png", :alt => ""}>
          %a{:href => ""}>
            %img{:src => "i/logo6.png", :alt => ""}>
      .clear

/ @include 'kit/footer.kit'
/ @include 'kit/foot.kit'
