company.haml
/ @include 'kit/head.kit'
/ @include 'kit/header.kit'

%section.subpage
  .wrap
    .b_box
      %aside
        %ul.b_menu_aside
          %li.active
            %a{:href => ""} О компании
          %li
            %a{:href => ""} Новости
          %li
            %a{:href => ""} Сотрудничество
          %li
            %a{:href => ""} Вакансии
      %article.b_text
        %h2.blue Новости
        .b_news
          %h3
            %a{:href => ""} Компания «Максет Лайн» приняла участие в третьей всероссийской конференции «Практика внедрения технологий пассивных оптических сетей в России»
          %p.date 4 апреля 2013
          %p 8-9 февраля 2012 г. в столичном отеле «Холидей ИНН Симоновский» состоялась третья всероссийская конференция «Практика внедрения технологий пассивных оптических сетей в России», организованная Центром профессиональных знаний «КОННЕКТИОН» при поддержке Министерства связи и массовых коммуникаций России.
          %p Впервые в конференции принял участие Диди Иванковски – Основатель и Вице-президент компании BroadLight. Он обозначил основные тренды и тенденции развития широкополосного доступа в проекции на российский рынок. Технический директор ООО «Максет Лайн» А. Ламин обозначил преимущества и перспективы рынка мультивендорных систем GPON.
          %p Е.Попов, руководитель направления решения для операторов связи компании «3М Россия» рассказал о решениях компании 3М для строительства пассивных оптических сетей FTTH/PON. Также были охвачены вопросы развития сетей PON в районах индивидуальной и малоэтажной жилой застройки, которые осветил в своем докладе Е.Гаскевич, Директор по развитию ЗАО «Тералинк».
          %p В конференции также участвовали крупнейшие операторы связи (ОАО «МГТС», ОАО «Ростелеком» и др.), которые делились наработанным опытом в части использования технологии GPON. В конференции приняли участие также представители таких компаний как Corning, НТЦ «Комсет», ОАО «Интеллект Телеком», Tyco Electronics.
          %p Важнейшие аспекты построения пассивных оптических сетей были затронуты в докладах научных организаций (ЛО ЦНИИС, МТУСИ и др.).
        .b_news
          %h3
            %a{:href => ""} Компания «Максет Лайн» приняла участие в третьей всероссийской конференции «Практика внедрения технологий пассивных оптических сетей в России»
          %p.date 4 апреля 2013
          %p 8-9 февраля 2012 г. в столичном отеле «Холидей ИНН Симоновский» состоялась третья всероссийская конференция «Практика внедрения технологий пассивных оптических сетей в России», организованная Центром профессиональных знаний «КОННЕКТИОН» при поддержке Министерства связи и массовых коммуникаций России.
          %p Впервые в конференции принял участие Диди Иванковски – Основатель и Вице-президент компании BroadLight. Он обозначил основные тренды и тенденции развития широкополосного доступа в проекции на российский рынок. Технический директор ООО «Максет Лайн» А. Ламин обозначил преимущества и перспективы рынка мультивендорных систем GPON.
          %p Е.Попов, руководитель направления решения для операторов связи компании «3М Россия» рассказал о решениях компании 3М для строительства пассивных оптических сетей FTTH/PON. Также были охвачены вопросы развития сетей PON в районах индивидуальной и малоэтажной жилой застройки, которые осветил в своем докладе Е.Гаскевич, Директор по развитию ЗАО «Тералинк».
          %p В конференции также участвовали крупнейшие операторы связи (ОАО «МГТС», ОАО «Ростелеком» и др.), которые делились наработанным опытом в части использования технологии GPON. В конференции приняли участие также представители таких компаний как Corning, НТЦ «Комсет», ОАО «Интеллект Телеком», Tyco Electronics.
          %p Важнейшие аспекты построения пассивных оптических сетей были затронуты в докладах научных организаций (ЛО ЦНИИС, МТУСИ и др.).
        %ul.b_paginate
          %li.active
            1
          %li
            %a{:href => ""} 2
          %li
            %a{:href => ""} 3
          %li
            %a{:href => ""} 4
          %li
            %a{:href => ""} 5
        .clear
      .clear

/ @include 'kit/footer.kit'
/ @include 'kit/foot.kit'

company.html
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <title></title>
  <meta name="description">
  <meta content="width=device-width" name="viewport">
  <link href="application.css" rel="stylesheet">
  <script>
    //var customPath = '';
  </script>
  <script src="js/fonts.js"></script>
  <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script>window.html5 || document.write('<script src="js/vendor/html5shiv.js"><\/script>')</script>
  <![endif]-->
</head>
<body><header>
  <div class='wrap'>
    <a class='logo b_logo' href=''></a>
    <ul class='b_menu'>
      <li class='active'>
        <a href=''>Компания</a>
      </li>
      <li>
        <a href=''>Продукты</a>
      </li>
      <li>
        <a href=''>Сотрудничество</a>
      </li>
      <li>
        <a href=''>Контакты</a>
      </li>
    </ul>
    <div class='clear'></div>
  </div>
</header>
<section class='subpage'>
  <div class='wrap'>
    <div class='b_box'>
      <aside>
        <ul class='b_menu_aside'>
          <li class='active'>
            <a href=''>О компании</a>
          </li>
          <li>
            <a href=''>Новости</a>
          </li>
          <li>
            <a href=''>Сотрудничество</a>
          </li>
          <li>
            <a href=''>Вакансии</a>
          </li>
        </ul>
      </aside>
      <article class='b_text'>
        <h2 class='blue'>Новости</h2>
        <div class='b_news'>
          <h3>
            <a href=''>Компания «Максет Лайн» приняла участие в третьей всероссийской конференции «Практика внедрения технологий пассивных оптических сетей в России»</a>
          </h3>
          <p class='date'>4 апреля 2013</p>
          <p>8-9 февраля 2012 г. в столичном отеле «Холидей ИНН Симоновский» состоялась третья всероссийская конференция «Практика внедрения технологий пассивных оптических сетей в России», организованная Центром профессиональных знаний «КОННЕКТИОН» при поддержке Министерства связи и массовых коммуникаций России.</p>
          <p>Впервые в конференции принял участие Диди Иванковски – Основатель и Вице-президент компании BroadLight. Он обозначил основные тренды и тенденции развития широкополосного доступа в проекции на российский рынок. Технический директор ООО «Максет Лайн» А. Ламин обозначил преимущества и перспективы рынка мультивендорных систем GPON.</p>
          <p>Е.Попов, руководитель направления решения для операторов связи компании «3М Россия» рассказал о решениях компании 3М для строительства пассивных оптических сетей FTTH/PON. Также были охвачены вопросы развития сетей PON в районах индивидуальной и малоэтажной жилой застройки, которые осветил в своем докладе Е.Гаскевич, Директор по развитию ЗАО «Тералинк».</p>
          <p>В конференции также участвовали крупнейшие операторы связи (ОАО «МГТС», ОАО «Ростелеком» и др.), которые делились наработанным опытом в части использования технологии GPON. В конференции приняли участие также представители таких компаний как Corning, НТЦ «Комсет», ОАО «Интеллект Телеком», Tyco Electronics.</p>
          <p>Важнейшие аспекты построения пассивных оптических сетей были затронуты в докладах научных организаций (ЛО ЦНИИС, МТУСИ и др.).</p>
        </div>
        <div class='b_news'>
          <h3>
            <a href=''>Компания «Максет Лайн» приняла участие в третьей всероссийской конференции «Практика внедрения технологий пассивных оптических сетей в России»</a>
          </h3>
          <p class='date'>4 апреля 2013</p>
          <p>8-9 февраля 2012 г. в столичном отеле «Холидей ИНН Симоновский» состоялась третья всероссийская конференция «Практика внедрения технологий пассивных оптических сетей в России», организованная Центром профессиональных знаний «КОННЕКТИОН» при поддержке Министерства связи и массовых коммуникаций России.</p>
          <p>Впервые в конференции принял участие Диди Иванковски – Основатель и Вице-президент компании BroadLight. Он обозначил основные тренды и тенденции развития широкополосного доступа в проекции на российский рынок. Технический директор ООО «Максет Лайн» А. Ламин обозначил преимущества и перспективы рынка мультивендорных систем GPON.</p>
          <p>Е.Попов, руководитель направления решения для операторов связи компании «3М Россия» рассказал о решениях компании 3М для строительства пассивных оптических сетей FTTH/PON. Также были охвачены вопросы развития сетей PON в районах индивидуальной и малоэтажной жилой застройки, которые осветил в своем докладе Е.Гаскевич, Директор по развитию ЗАО «Тералинк».</p>
          <p>В конференции также участвовали крупнейшие операторы связи (ОАО «МГТС», ОАО «Ростелеком» и др.), которые делились наработанным опытом в части использования технологии GPON. В конференции приняли участие также представители таких компаний как Corning, НТЦ «Комсет», ОАО «Интеллект Телеком», Tyco Electronics.</p>
          <p>Важнейшие аспекты построения пассивных оптических сетей были затронуты в докладах научных организаций (ЛО ЦНИИС, МТУСИ и др.).</p>
        </div>
        <ul class='b_paginate'>
          <li class='active'>
            1
          </li>
          <li>
            <a href=''>2</a>
          </li>
          <li>
            <a href=''>3</a>
          </li>
          <li>
            <a href=''>4</a>
          </li>
          <li>
            <a href=''>5</a>
          </li>
        </ul>
        <div class='clear'></div>
      </article>
      <div class='clear'></div>
    </div>
  </div>
</section>
<footer>
  <div class='wrap'>
    <p>ООО «Максет Лайн»</p>
    <p>
      143025, Московская область,  Технопарк
      <br>«Сколково»,  ул. Новая, д.100</br>
    </p>
  </div>
</footer>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
  <script src="js/plugins.js"></script>
  <script src="js/main.js"></script>
  <script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
</body>
</html>
