contacts.haml
/ @include 'kit/head.kit'
/ @include 'kit/header.kit'

%section.subpage
  .wrap
    .b_box
      .b_text.b_contacts
        %h2.blue Контакты
        %h3 143025, Московская область, Технопарк «Сколково», ул. Новая, д.100
        %h3.rig
          +7 495 788-92-82
          %br sales@maxet-line.ru
        .clear
        .b_map
          %i.shadow.top_shadow
          %img.map{:src => "i/map.png", :alt => ""}
          %i.shadow.bottom_shadow

/ @include 'kit/footer.kit'
/ @include 'kit/foot.kit'

contacts.html
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <title></title>
  <meta name="description">
  <meta content="width=device-width" name="viewport">
  <link href="application.css" rel="stylesheet">
  <script>
    //var customPath = '';
  </script>
  <script src="js/fonts.js"></script>
  <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script>window.html5 || document.write('<script src="js/vendor/html5shiv.js"><\/script>')</script>
  <![endif]-->
</head>
<body><header>
  <div class='wrap'>
    <a class='logo b_logo' href=''></a>
    <ul class='b_menu'>
      <li class='active'>
        <a href=''>Компания</a>
      </li>
      <li>
        <a href=''>Продукты</a>
      </li>
      <li>
        <a href=''>Сотрудничество</a>
      </li>
      <li>
        <a href=''>Контакты</a>
      </li>
    </ul>
    <div class='clear'></div>
  </div>
</header>
<section class='subpage'>
  <div class='wrap'>
    <div class='b_box'>
      <div class='b_text b_contacts'>
        <h2 class='blue'>Контакты</h2>
        <h3>143025, Московская область, Технопарк «Сколково», ул. Новая, д.100</h3>
        <h3 class='rig'>
          +7 495 788-92-82
          <br>sales@maxet-line.ru</br>
        </h3>
        <div class='clear'></div>
        <div class='b_map'>
          <i class='shadow top_shadow'></i>
          <img alt='' class='map' src='i/map.png'>
          <i class='shadow bottom_shadow'></i>
        </div>
      </div>
    </div>
  </div>
</section>
<footer>
  <div class='wrap'>
    <p>ООО «Максет Лайн»</p>
    <p>
      143025, Московская область,  Технопарк
      <br>«Сколково»,  ул. Новая, д.100</br>
    </p>
  </div>
</footer>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
  <script src="js/plugins.js"></script>
  <script src="js/main.js"></script>
  <script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
</body>
</html>
