index.html
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <title></title>
  <meta name="description">
  <meta content="width=device-width" name="viewport">
  <link href="application.css" rel="stylesheet">
  <script>
    //var customPath = '';
  </script>
  <script src="js/fonts.js"></script>
  <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script>window.html5 || document.write('<script src="js/vendor/html5shiv.js"><\/script>')</script>
  <![endif]-->
</head>
<body><header>
  <div class='wrap'>
    <a class='logo b_logo' href=''></a>
    <ul class='b_menu'>
      <li class='active'>
        <a href=''>Компания</a>
      </li>
      <li>
        <a href=''>Продукты</a>
      </li>
      <li>
        <a href=''>Сотрудничество</a>
      </li>
      <li>
        <a href=''>Контакты</a>
      </li>
    </ul>
    <div class='clear'></div>
  </div>
</header>
<section class="b_big-image">
  <!-- %img{:src => "i/bg.jpg", :alt => ""} -->
  <div class="wrap">
    <h1>Максет Лайн</h1>
    <h2>высокотехнологичные решения</h2>
  </div>
</section>
<section class="main">
  <div class="wrap">
    <ul class="b_submenu">
      <li>
        <a class="active" href="" rel="1">Телеметрия</a>
      </li>
      <li>
        <a href="" rel="2">Телемедицина</a>
      </li>
      <li>
        <a href="" rel="3">Умный дом</a>
      </li>
      <li>
        <a href="" rel="4">Медиа сервисы</a>
      </li>
      <li>
        <a href="" rel="5">Видеонаблюдение</a>
      </li>
      <li>
        <a href="" rel="6">Контроль доступа</a>
      </li>
      <div class="clear"></div>
    </ul>
    <div class="b_text" rel="1">
      <img alt="" class="flr" src="http://placekitten.com/408/327">
      <h3>Телеметрия</h3>
      <p class="big_mb">Текст, рассказывающий о проектах компании в этой сфере. Текст иллюстрирует элитарный миракль, однако само по себе состояние игры всегда амбивалентно. Идея (пафос), так или иначе, просветляет невротический комплекс агрессивности, именно об этом комплексе движущих сил писал З.Фрейд в теории сублимации. Ритм готично имитирует композиционный онтологический статус искусства, таким образом, сходные законы контрастирующего развития характерны и для процессов в психике.</p>
      <p>
        <big>
          <a href="">Подробнее</a>
        </big>
      </p>
      <div class="clear"></div>
    </div>
    <div class="b_text hide" rel="2">
      <img alt="" class="flr" src="http://placekitten.com/408/327">
      <h3>Телемедицина</h3>
      <p class="big_mb">Текст, рассказывающий о проектах компании в этой сфере. Текст иллюстрирует элитарный миракль, однако само по себе состояние игры всегда амбивалентно. Идея (пафос), так или иначе, просветляет невротический комплекс агрессивности, именно об этом комплексе движущих сил писал З.Фрейд в теории сублимации. Ритм готично имитирует композиционный онтологический статус искусства, таким образом, сходные законы контрастирующего развития характерны и для процессов в психике.</p>
      <p>
        <big>
          <a href="">Подробнее</a>
        </big>
      </p>
      <div class="clear"></div>
    </div>
    <div class="b_text hide" rel="3">
      <img alt="" class="flr" src="http://placekitten.com/408/327">
      <h3>Умный дом</h3>
      <p class="big_mb">Текст, рассказывающий о проектах компании в этой сфере. Текст иллюстрирует элитарный миракль, однако само по себе состояние игры всегда амбивалентно. Идея (пафос), так или иначе, просветляет невротический комплекс агрессивности, именно об этом комплексе движущих сил писал З.Фрейд в теории сублимации. Ритм готично имитирует композиционный онтологический статус искусства, таким образом, сходные законы контрастирующего развития характерны и для процессов в психике.</p>
      <p>
        <big>
          <a href="">Подробнее</a>
        </big>
      </p>
      <div class="clear"></div>
    </div>
    <div class="b_text hide" rel="4">
      <img alt="" class="flr" src="http://placekitten.com/408/327">
      <h3>Медиа сервисы</h3>
      <p class="big_mb">Текст, рассказывающий о проектах компании в этой сфере. Текст иллюстрирует элитарный миракль, однако само по себе состояние игры всегда амбивалентно. Идея (пафос), так или иначе, просветляет невротический комплекс агрессивности, именно об этом комплексе движущих сил писал З.Фрейд в теории сублимации. Ритм готично имитирует композиционный онтологический статус искусства, таким образом, сходные законы контрастирующего развития характерны и для процессов в психике.</p>
      <p>
        <big>
          <a href="">Подробнее</a>
        </big>
      </p>
      <div class="clear"></div>
    </div>
    <div class="b_text hide" rel="5">
      <img alt="" class="flr" src="http://placekitten.com/408/327">
      <h3>Видеонаблюдение</h3>
      <p class="big_mb">Текст, рассказывающий о проектах компании в этой сфере. Текст иллюстрирует элитарный миракль, однако само по себе состояние игры всегда амбивалентно. Идея (пафос), так или иначе, просветляет невротический комплекс агрессивности, именно об этом комплексе движущих сил писал З.Фрейд в теории сублимации. Ритм готично имитирует композиционный онтологический статус искусства, таким образом, сходные законы контрастирующего развития характерны и для процессов в психике.</p>
      <p>
        <big>
          <a href="">Подробнее</a>
        </big>
      </p>
      <div class="clear"></div>
    </div>
    <div class="b_text hide" rel="6">
      <img alt="" class="flr" src="http://placekitten.com/408/327">
      <h3>Контроль доступа</h3>
      <p class="big_mb">Текст, рассказывающий о проектах компании в этой сфере. Текст иллюстрирует элитарный миракль, однако само по себе состояние игры всегда амбивалентно. Идея (пафос), так или иначе, просветляет невротический комплекс агрессивности, именно об этом комплексе движущих сил писал З.Фрейд в теории сублимации. Ритм готично имитирует композиционный онтологический статус искусства, таким образом, сходные законы контрастирующего развития характерны и для процессов в психике.</p>
      <p>
        <big>
          <a href="">Подробнее</a>
        </big>
      </p>
      <div class="clear"></div>
    </div>
  </div>
</section>
<footer>
  <div class='wrap'>
    <p>ООО «Максет Лайн»</p>
    <p>
      143025, Московская область,  Технопарк
      <br>«Сколково»,  ул. Новая, д.100</br>
    </p>
  </div>
</footer>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
  <script src="js/plugins.js"></script>
  <script src="js/main.js"></script>
  <script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
</body>
</html>

index.haml
/ @include 'kit/head.kit'
/ @include 'kit/header.kit'

%section.b_big-image
  /%img{:src => "i/bg.jpg", :alt => ""}
  .wrap
    %h1 Максет Лайн
    %h2 высокотехнологичные решения

%section.main
  .wrap
    %ul.b_submenu
      %li
        %a.active{:href => "", :rel => 1} Телеметрия
      %li
        %a{:href => "", :rel => 2} Телемедицина
      %li
        %a{:href => "", :rel => 3} Умный дом
      %li
        %a{:href => "", :rel => 4} Медиа сервисы
      %li
        %a{:href => "", :rel => 5} Видеонаблюдение
      %li
        %a{:href => "", :rel => 6} Контроль доступа
      .clear
    .b_text{:rel => 1}
      %img.flr{:src => "http://placekitten.com/408/327", :alt => ""}
      %h3 Телеметрия
      %p.big_mb Текст, рассказывающий о проектах компании в этой сфере. Текст иллюстрирует элитарный миракль, однако само по себе состояние игры всегда амбивалентно. Идея (пафос), так или иначе, просветляет невротический комплекс агрессивности, именно об этом комплексе движущих сил писал З.Фрейд в теории сублимации. Ритм готично имитирует композиционный онтологический статус искусства, таким образом, сходные законы контрастирующего развития характерны и для процессов в психике.
      %p
        %big
          %a{:href => ""} Подробнее
      .clear
    .b_text.hide{:rel => 2}
      %img.flr{:src => "http://placekitten.com/408/327", :alt => ""}
      %h3 Телемедицина
      %p.big_mb Текст, рассказывающий о проектах компании в этой сфере. Текст иллюстрирует элитарный миракль, однако само по себе состояние игры всегда амбивалентно. Идея (пафос), так или иначе, просветляет невротический комплекс агрессивности, именно об этом комплексе движущих сил писал З.Фрейд в теории сублимации. Ритм готично имитирует композиционный онтологический статус искусства, таким образом, сходные законы контрастирующего развития характерны и для процессов в психике.
      %p
        %big
          %a{:href => ""} Подробнее
      .clear
    .b_text.hide{:rel => 3}
      %img.flr{:src => "http://placekitten.com/408/327", :alt => ""}
      %h3 Умный дом
      %p.big_mb Текст, рассказывающий о проектах компании в этой сфере. Текст иллюстрирует элитарный миракль, однако само по себе состояние игры всегда амбивалентно. Идея (пафос), так или иначе, просветляет невротический комплекс агрессивности, именно об этом комплексе движущих сил писал З.Фрейд в теории сублимации. Ритм готично имитирует композиционный онтологический статус искусства, таким образом, сходные законы контрастирующего развития характерны и для процессов в психике.
      %p
        %big
          %a{:href => ""} Подробнее
      .clear
    .b_text.hide{:rel => 4}
      %img.flr{:src => "http://placekitten.com/408/327", :alt => ""}
      %h3 Медиа сервисы
      %p.big_mb Текст, рассказывающий о проектах компании в этой сфере. Текст иллюстрирует элитарный миракль, однако само по себе состояние игры всегда амбивалентно. Идея (пафос), так или иначе, просветляет невротический комплекс агрессивности, именно об этом комплексе движущих сил писал З.Фрейд в теории сублимации. Ритм готично имитирует композиционный онтологический статус искусства, таким образом, сходные законы контрастирующего развития характерны и для процессов в психике.
      %p
        %big
          %a{:href => ""} Подробнее
      .clear
    .b_text.hide{:rel => 5}
      %img.flr{:src => "http://placekitten.com/408/327", :alt => ""}
      %h3 Видеонаблюдение
      %p.big_mb Текст, рассказывающий о проектах компании в этой сфере. Текст иллюстрирует элитарный миракль, однако само по себе состояние игры всегда амбивалентно. Идея (пафос), так или иначе, просветляет невротический комплекс агрессивности, именно об этом комплексе движущих сил писал З.Фрейд в теории сублимации. Ритм готично имитирует композиционный онтологический статус искусства, таким образом, сходные законы контрастирующего развития характерны и для процессов в психике.
      %p
        %big
          %a{:href => ""} Подробнее
      .clear
    .b_text.hide{:rel => 6}
      %img.flr{:src => "http://placekitten.com/408/327", :alt => ""}
      %h3 Контроль доступа
      %p.big_mb Текст, рассказывающий о проектах компании в этой сфере. Текст иллюстрирует элитарный миракль, однако само по себе состояние игры всегда амбивалентно. Идея (пафос), так или иначе, просветляет невротический комплекс агрессивности, именно об этом комплексе движущих сил писал З.Фрейд в теории сублимации. Ритм готично имитирует композиционный онтологический статус искусства, таким образом, сходные законы контрастирующего развития характерны и для процессов в психике.
      %p
        %big
          %a{:href => ""} Подробнее
      .clear

/ @include 'kit/footer.kit'
/ @include 'kit/foot.kit'
